doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css')
	body
		include ../templates/headerTemplate

		block content
		block footer

		script(src='/components/jquery/dist/jquery.min.js')
		script(src='/components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/javascripts/main.js')

