extends layout

block header
	include templates/template

block content
	section.container-main
		div.wrap
			h4 Soluções recentes

			ul
				li
					p.author-solution Inserido por: Fernanda Lopes
					p.date-solution Em: 27/05/2014
					h4 Nome da Soluções
					p Trecho da solução
				li
					p.author-solution Inserido por: Fernanda Lopes
					p.date-solution Em: 27/05/2014
					h4 Nome da Soluções
					p Trecho da solução
				li
					p.author-solution Inserido por: Fernanda Lopes
					p.date-solution Em: 27/05/2014
					h4 Nome da Soluções
					p Trecho da solução
				li
					p.author-solution Inserido por: Fernanda Lopes
					p.date-solution Em: 27/05/2014
					h4 Nome da Soluções
					p Trecho da solução
				li
					p.author-solution Inserido por: Fernanda Lopes
					p.date-solution Em: 27/05/2014
					h4 Nome da Soluções
					p Trecho da solução