section.pagenav
	div.wrap
		a(href="#" title="Primeira Página").item-pagenav.first-page <<
		a(href="#" title="Página anterior").item-pagenav.previous-page <
		a(href="#" title="Página 1").item-pagenav.is-active 1
		a(href="#" title="Página 2").item-pagenav 2
		a(href="#" title="Página 3").item-pagenav 3
		a(href="#" title="Página 4").item-pagenav 4
		a(href="#" title="Página 5").item-pagenav 5
		a(href="#" title="Próxima Página").item-pagenav.next-page >
		a(href="#" title="Última Página").item-pagenav.last-page >>